<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/edit.css" />
<%- include('../partials/nav') %>

<main>
<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights/<%= flight._id %>?_method=PUT" method="POST">
    <label for="title-input">Title:</label>
    <input type="text" name="title" value="<%= movie.title %>" id="title-input">
    <label for="relase-year-input">Release Year:</label>
    <input type="text" name="releaseYear"  value="<%= movie.releaseYear %>" id="relase-year-input">
    <label for="mpaa-rating-select">MPAA Rating</label>
    <select name="mpaaRating" id="mpaa-rating-select">
      <option <%= movie.mpaaRating === 'G' ? 'selected' : '' %> value="G">G</option>
      <option <%= movie.mpaaRating === 'PG' ? 'selected' : '' %> value="PG">PG</option>
      <option <%= movie.mpaaRating === 'PG-13' ? 'selected' : '' %> value="PG-13">PG-13</option>
      <option <%= movie.mpaaRating === 'R' ? 'selected' : '' %> value="R">R</option>
    </select>
    <label for="now-showing-checkbox">Now Showing:</label>
    <input type="checkbox" name="nowShowing" <%= movie.nowShowing ? 'checked' : '' %>  id="now-showing-checkbox">
    <button type="submit">Save Movie</button>
  </form>
</main>

<%- include("../partials/footer") %>