<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <section>    
    <div>Airline: <%= flight.Airline %></div>
    <div>Airport: <%= flight.Airport %></div>
		<div>Flight Number: <%= flight.FlightNo %></div>
    <div>Departs: <%= flight.Departs %></div>
    <br>  
    <h2>Available Tickets:</h2>
    <% if (flight.Tickets.length) { %>
      <% flight.Tickets.forEach(ticket => { %>
          <div>Seat Number: <%= ticket.Seat %></div>
          <div>Price: <%= ticket.Price %></div>
          <br>
      <% }) %>
    <% } else { %>
      <h4>No Tickets are available for Flight <%= flight.FlightNo %> </h4>
      <% } %>

    <br>
    <form action="/flights/<%= flight._id %>/tickets" method="POST">
      <h2>Add a New Ticket</h2>
      <label for="seatNumber">Seat Number:</label>
      <input type="text" name="seatNumber" required pattern="[A-F][1-9]\d?">
      <br>
      <label for="price">Price:</label>
      <input type="number" min="0" name="price">
      <br>
      <button type="submit">Add Ticket!</button>
    </form>

  </section>
	
</main>


<%- include('../partials/footer') %>